* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Menu */

nav {
  background-color: #000000;
  color: white;
  padding: 20px 170px;
  border-bottom: 1px solid #fff;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: rgb(255, 252, 252);
  font-weight: 400;
}

.navItem img {
  width: 200px;
  height: 110px;
}

/* Seção do Banner e features */

.slider {
  background-image: url("https://images.unsplash.com/photo-1602223878762-aff830f9e307?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
  min-height: 100vh;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  z-index: 1;
}

.buyButton {
  position: absolute;
  top: 23%;
  left: 10%;
  font-size: 22px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  z-index: 1;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.buyButton:hover {
  background-color: #00ff2a;
  color: black;
}

.myBtn {
  font-size: 20px;
  font-weight: 900;
  color: white;
  border: 1px solid gray;
  background-color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.myBtn:hover {
  background-color: gray;
  color: black;
  border: 1px solid black;
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #fff;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: #fff;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: #fff;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: #fff;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: #fff;
}

/* Features */

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

/* Modal Pagamento */
.payment {
  width: 600px;
  height: 800px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}

/* Os dois botões de fechamento do modal estão com essa classe */
.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Produtos */
.product {
  height: 100vh;
  background-color: #e3e3e3;
  position: relative;
  /* clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); */
}
.product h2 {
  padding: 10px;
}

/* Card */

.content h3 {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  background-color: #e3e3e3;
}
.content {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0.25), 0 10px 10px rgba(0, 0, 0.22);
  transition: 0.4s;
  background: #f2f2f2;
}
.content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0.23);
  transform: translate(0px, -8px);
}
.content img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.content p {
  text-align: center;
  color: #b2bec3;
  padding-top: 0 8px;
}
.content h6 {
  font-size: 26px;
  text-align: center;
  color: #222f3e;
  margin: 0;
}
.content ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.content ul li {
  padding-top: 5px;
}
.fa {
  font-size: 26px;
  transition: 0.4s;
}
.checkend {
  color: #ff9f43;
}
.fa:hover {
  transform: scale(1, 2);
  transition: 0.6s;
}
.content button {
  text-align: center;
  font-size: 24px;
  width: 100%;
  padding: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.content button a {
  text-decoration: none;
  color: #ffffff;
}
.bui-1 {
  background: #22cbff;
}
.bui-2 {
  background: #1bd835;
}
.bui-3 {
  background: #7c4af1;
}
.bui-4 {
  background: #fc8c23;
}

/* Carrosel */

.carousel {
  background-color: #000000;
  padding: 50px;
  width: 100%;
  height: auto;
  display: flex;
}

#size-carousel {
  width: 65%;
  height: auto;
  margin: 0 auto;
}

/* Footer */

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 0;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons {
  display: flex;
  cursor: pointer;
}

.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

.formularioCliente input[type="text"],
.formularioCliente input[type="email"],
.formularioCliente input[type="tel"],
.formularioCliente input[type="password"] {
  width: calc(100% - 22px); /* Considerando a largura do padding e da borda  */
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: block; /* Garante que os elementos sejam exibidos em uma linha */
}

.formularioCliente button[type="submit"] {
  width: calc(100% - 22px); /* Considerando a largura do padding e da borda */
  background-color: #4caf50; /* Verde*/
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.formularioCliente button[type="submit"]:hover {
  background-color: #45a049; /* Tom de verde mais escuro */
}
